<md-content layout="column">


  <header id="header" layout="column" layout-align="center center">
    <div style="margin-top: -150px;">
      <h1 class="headerText md-display-4">Brennan Batalla</h1>
    </div>

    <div layout="column" layout-align="center center" style="position: absolute; bottom: 50px;">
      <md-button style="color: white;" class="" layout="column" layout-align="center center">
        <span style="color: white;font-size: 20px;">Lets Meet!</span>
        <ng-md-icon icon="keyboard_arrow_down"></ng-md-icon>
      </md-button>
    </div>
  </header>


  <section class="section" id="about">

    <h1>Profile</h1>
    <md-divider style="width: 66%; margin: auto"></md-divider>
    <div layout="row" layout-align="center center">
      <div flex="80" flex-sm="80" flex-xs="100" class="innerProfile center" layout="row" layout-align="center center"
           layout-xs="column" layout-sm="column" flex>


        <div class="innernAboutMe" flex="33" flex-sm="100" flex-xs="100">
          <label>About Me</label>
          <p>I am a fullstack developer, 2 years out of school. I currently hold the title of Software Engineer 2,
            fullstack developer.
            I am well practiced and up-to-date with both front-end technologies as well as backend. I am most experience
            with AngularJs 1.X
            in the front end and Java Spring in the backend. I also have extensive knowledge with NodeJs and noSQL
            Databases. I love structure
            and order and I also stand for quality. I love spending time on fixing little details and
            optimizing web apps. Also I like working in a team, you'll learn faster and more. As the saying goes: 'two
            heads are better than one'.</p>

        </div>

        <figure>
          <img src="../../assets/images/meInSuit2.jpg" class="aboutImage" flex="33" style="float: left">
        </figure>

        <div class="innernProfileDetails" flex="33" style="float: left" layout="column" layout-align-sm="center center"
             layout-align-xs="center center">
          <h2 style="margin: 0;">Details</h2>
          <p layout="column">
            <span><strong>Name:</strong> Brennan G. Batalla</span>
            <span><strong>Age:</strong> {{$ctrl.person.age}} years</span>
            <span><strong>Location:</strong> Philadelphia, PA, USA</span>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section" id="projects">
    <label><h1>Projects</h1></label>
    <br>
    <md-divider style="width: 66%; margin: auto"></md-divider>
    <br>

    <div layout="column" layout-align="center center">
      <article ng-repeat="project in featuredProjects" layout="row" layout-sm="column" layout-xs="column"
               style=" width: 100%; padding: 5%;" layout-align="center center">
        <div flex="50" style="background-color: #808080; margin: auto">

          <md-icon md-svg-src={{project.image}} style="width: 150px; height: 150px;"></md-icon>


        </div>

        <div flex="50" style="margin: auto; width: 100%">
          <h2 style="text-align: left; margin-left: 10%">{{project.title}}</h2>
          <table align="left">
            <li>{{project.description[0]}}</li>
            <li>{{project.description[1]}}</li>
            <li>{{project.description[2]}}</li>


          </table>

        </div>
      </article>

    </div>
  </section>

  <section class="section" id="resume">
    <div style="min-height: 26vh;position: absolute; min-width: 100%; background-color: black; opacity: .3"></div>
    <h1 style="margin-top: 0">Resume</h1>
    <br>
    <md-divider style="width: 66%; margin: auto"></md-divider>
    <br>

    <div>

      <md-button class="md-raised" style="background-color: red; color: white;;" ng-click="scrollTest()"> Download
        Resume
      </md-button>
    </div>

  </section>

  <section class="section" id="contact">
    <label><h1>Contact Me</h1></label>
    <br>
    <md-divider style="width: 66%; margin: auto"></md-divider>
    <br>

    <div layout="row" layout-align="center center">
      <div layout="column" layout-align="start start">
        <div layout="row" layout-align="start center">
          <ng-md-icon style="color: red;" icon="location_on"></ng-md-icon>
          <strong style="color: red;">Location: </strong> Philadelphia Pa, USA
        </div>
        <br/>
        <div layout="row" layout-align="start center">
          <ng-md-icon style="color: red;" icon="email"></ng-md-icon>
          <strong style="color: red;">Email: </strong> brennan.batalla@gmail.com
        </div>
        <br>
        <div layout="row">
          <md-button class="md-icon-button" href="http://www.facebook.com/brennan.batalla">
            <ng-md-icon icon="facebook-box"></ng-md-icon>
          </md-button>
          <md-button class="md-icon-button" href="https://www.linkedin.com/in/brennan-batalla-83089881">
            <ng-md-icon icon="linkedin-box"></ng-md-icon>
          </md-button>
          <md-button class="md-icon-button" href="https://github.com/bbatalla92">
            <ng-md-icon icon="github-box"></ng-md-icon>
          </md-button>
        </div>
      </div>
      <md-content class="md-padding" flex="40" flex-xs="100">
        <fieldset>
          <legend>Contact Form</legend>
          <form name="contactForm" data-ng-submit="sendMail()" layout="column">
            <md-input-container>
              <label>Name:</label>
              <input ng-model="contactName" required>
            </md-input-container>
            <md-input-container flex>
              <label>Email:</label>
              <input type="email" ng-model="contactEmail" required>
            </md-input-container>

            <md-input-container>
              <label>Message:</label>
              <textarea ng-model="contactMsg" columns="1" md-maxlength="150" required></textarea>
            </md-input-container>

            <md-button type="submit" class="md-primary"
                       ng-class="{'md-raised md-hue-1': (contactForm.$dirty && contactForm.$valid) }"
                       aria-label="Save Project">Send
            </md-button>
          </form>
        </fieldset>
      </md-content>
    </div>

  </section>

</md-content>


